body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridContainer{
    margin: 0 auto;
    margin-top: 20px;
    width: 480px;
    line-height: 0;
}

.gridCell {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
}